<div class="form-action">
    <input id="personolize-button" class="button button--primary" type="button" value="Personalize">
</div>

<script>
    const personalizeButton = document.querySelector('#personalize-button');
    personalizeButton.addEventListener('click',() => {
        personalizeButton.disabled = true;
    })
    
</script>