<img id="cart-item-personalize-image-{{id}}" alt="{{lang 'cart.gift_certificates.gift_certificate'}}"
    title="{{lang 'cart.gift_certificates.gift_certificate'}}">
<script defer>
    (async () => {
    const jsContext = JSON.parse({{ jsContext }});
    const rawProjectKey = jsContext.item.options.find(op => op.name === 'BackOffice project link')?.value;
    if(!rawProjectKey) {
        
    }
    fetch(`{|& BigCommerceAdapterBaseUrl |}/api/bigcommerce-adapter/v1/raw-projects?tenantId={| TenantId |}&storefrontId={| StorefrontId |}&key=${rawProjectKey}`)
        .then(response => response.json())
        .then(rawProject => {
            var imageElement = document.getElementById(`cart-item-personalize-image-${jsContext.item.id}`);
                imageElement.setAttribute("src", rawProject.items[0].hidden.images[0]);
        });
    })();
   
</script>
